.place__title {
    margin: 0;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 900;
    color: #FFFFFF;
    flex-basis: 48.7288135593%;
}

@media screen and (max-width: 768px) {
    .place__title {
        max-width: 100%;
        font-size: 35px;
        line-height: 109%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .place__title {
        font-size: 42px;
        line-height: 110%;
    }
}

@media screen and (min-width: 1024px) {
    .place__title {
        font-size: 72px;
        line-height: 106%;
    }
}

