.photo-grid__container {
    display: grid;
}

@media screen and (max-width: 425px) {
    .photo-grid__container {
        display: block;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .photo-grid__container {
        grid-template: repeat(6, 1fr)/repeat(2, 1fr);
        gap: 2.083333333%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .photo-grid__container {
        grid-template: repeat(4, 1fr)/repeat(3, 1fr);
        gap: 1.3671875%;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid__container { 
        grid-template: repeat(3, 1fr)/repeat(4, 1fr);
        gap: 1.25%;
    }
}