.place__website__link {
    margin: 0.9375% auto 3.75%;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    color: #FFFFFF;
}