.lead__title {
    margin: 0 auto;
    color:white;
    text-align: center;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 900;
    width: 90%;
    font-size: 40px;
    line-height: 1.1;
}

@media screen and (max-width: 768px) {
    .lead__title {
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 768px) {
    .lead__title {
        margin-bottom: 32px;
        width: 720px;
        font-size: 96px;
        line-height: 1.04;
    }
}